@font-face {
  font-family: MyriadProCondensed;
  src: url(./fonts/MyriadProCondensed/MyriadProCondensed.ttf);
}

@font-face {
  font-family: BerlinSansFBDemiBold;
  src: url(./fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf);
}

&:root {
  --main-color: #1d1d1d;
  --second-color: #3a3a3a;
  --txt-color: #bbbbbb;
  --txt-white: #ffffff;
  --bg-black: #000;
  --header-height: 144px;
  --header-padding: 90px;
  --height-wrap: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}



body {
  background-color: var(--main-color);
  color: var(--txt-color);
  font-family: MyriadProCondensed, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

#header {
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--header-padding);
  z-index: 99;
  transition: height 0.3s ease 0s, background-color 0.3s ease 0s;

  .navbar-menu-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .navbar-menu {
      display: flex;
      pointer-events: visible;

      li {
        margin-left: 84px;

        a {
          text-transform: capitalize;
          font-size: 1.5rem;
          color: var(--txt-color);

          &:hover {
            color: var(--txt-white);
          }
        }

        a.active {
          color: var(--txt-white);
        }
      }
    }
  }

  .user-menu {
    a {
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }
}

#header.shrink {
  height: var(--height-wrap);
  background-color: var(--second-color);
}

.banner {
  height: 100vh;
  padding-top: var(--header-height);
  position: relative;

  .slide-container {
    height: 100%;
    position: relative;
  }

  .slide {
    display: flex;
    height: 0;
    overflow: hidden;

    .slide-txt {
      width: 42%;
      padding-left: 60px;

      .slide-title {
        width: max-content;

        h3 {
          font-size: 13.5rem;
          font-family: BerlinSansFBDemiBold;
          color: var(--txt-white);
          text-transform: capitalize;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 4px;
          transform: translateX(-200px);
          transition: transform 0.5s ease 0s;
        }
      }


      .slide-description {
        margin-top: 84px;

        p {
          font-size: 1.4rem;
          transition-delay: 0.3s;
          transform: translateY(100px);
          opacity: 0;
          transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
        }
      }

      .slide-btn {
        margin-top: 84px;
        transform: translateY(100px);
        opacity: 0;
        transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
        transition-delay: 0.6s;

        .banner-btn {
          font-size: 1.9rem;
          font-weight: 700;
          text-transform: uppercase;
          padding: 10px 50px;
          background-color: var(--txt-white);
          color: var(--main-color);
          transition: transform 0.3s ease 0s;

          &:hover {
            transform: translateY(-10px);
          }
        }

      }
    }

    .slide-img {
      width: 58%;
      padding-right: 60px;
      padding-top: 80px;
      z-index: 1;

      img {
        width: 100%;
        transform: rotate(-70deg);
        transform-origin: bottom;
        opacity: 0;
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s ease 0s;
      }
    }

  }

  .slide.active {
    height: 100%;

    .slide-img {
      img {
        transform: rotate(0);
        opacity: 1;
      }
    }

    .slide-title {
      h3 {
        transform: translateX(0);
      }
    }

    .slide-description {
      p {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .slide-btn {
      transform: translateY(0);
      opacity: 1;
    }
  }


  .banner-txt {
    position: absolute;
    text-transform: uppercase;
    font-family: BerlinSansFBDemiBold;
    font-size: 11.75rem;
    top: 203px;
    right: -182px;
    color: var(--second-color);
    transform: rotate(-90deg);
  }

  .slide-control {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 98;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    li {
      font-size: 1.75rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: transform 0.3s ease 0s;

      &:hover {
        color: var(--txt-white);
      }
    }

    li.active {
      transform: scale(1.5);
      color: var(--txt-white);
    }

    li~li {
      margin-left: 30px;
    }
  }
}

.section {
  padding: 12rem 0 0;

  .section-title {
    font-family: BerlinSansFBDemiBold;
    text-align: center;
    position: relative;

    .second-title {
      font-size: 5rem;
      color: var(--second-color);
      position: absolute;
      left: 24%;
      bottom: 40%;
      z-index: -1;
      text-transform: uppercase;
    }

    .main-title {
      font-size: 3.5rem;
      z-index: 1;
    }

    .to-right {
      transform: translateX(-200px);
      opacity: 0;
      transition: all 1.5s ease 0s;
    }

    .to-left {
      transform: translateX(200px);
      opacity: 0;
      transition: all 1.5s ease 0s;
    }

    .to-top {
      opacity: 0;
      transition: all 1.5s ease 0s;
      transform: translateY(100px);
    }

    .to-right.show {
      opacity: 1;
      transform: translateX(0);
    }

    .to-left.show {
      opacity: 1;
      transform: translateX(0);
    }

    .to-top.show {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .section-content {
    padding: 7rem 7rem 0;

    .category-img {
      padding: 4rem;
      height: 600px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      .category-img-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: bottom;
        background-size: cover;
        transition: transform 1s ease 0s;
      }

      .category-title {
        font-size: 4.5rem;
        font-weight: 700;
        padding: 2rem;
        position: absolute;
        bottom: 0;
        color: var(--txt-white);
        text-transform: capitalize;
      }

      &:hover {
        .category-img-inner {
          transform: scale(1.3);
        }
      }
    }

    .product-card {
      padding: 20px;
      text-align: center;
      transition: background-color 0.3s ease 0s;

      .product-card-img {
        margin-bottom: 20px;
      }

      .product-name {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 10px;
      }


      &:hover {
        background-color: var(--bg-black);
      }
    }

    .product-card-large {
      .product-name {
        font-size: 3rem;
      }


      .product-price {
        font-size: 2rem;
        font-weight: 700;
        color: var(--txt-white);
        margin-bottom: 20px;
        display: block;
      }

      .btn {
        font-size: 1.5rem;
        padding: 1rem 2rem;
      }
    }
  }

  .btn-wrapper {
    position: absolute;
    right: 7rem;
    top: 50%;
    transform: translateY(-50%);
  }
}




.special-section {
  position: relative;
  margin-bottom: 290px;
  padding-top: 4rem;

  .section-title {
    text-align: right;
    padding: 4rem 7rem;
    background-color: var(--bg-black);

    .second-title {
      z-index: 999999999;
      position: absolute;
      font-size: 3.5rem;
      color: var(--txt-white);
      top: 40%;
      left: 25%;
      transform: translate(-50%, -50%);
    }

    .main-title {
      font-size: 4rem;
      -webkit-text-stroke-width: 2px;
      -webkit-text-fill-color: transparent;
    }

    .special-price {
      font-size: 3rem;
      color: var(--txt-white);
      margin-bottom: 2rem;
    }

    .btn {
      position: relative;
      right: unset;
      top: unset;
      font-size: 2rem;
    }
  }

  .special-img {
    width: 50%;
    position: absolute;
    left: 7rem;
    bottom: -290px;
  }
}



.news-card {
  padding: 20px;

  .news-card-img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 20px;

    .img-wrapper {
      position: absolute;
      inset: 0;
      overflow: hidden;

      .img {
        position: absolute;
        inset: 0;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s ease 0s;
      }
    }

    .news-title {
      margin-bottom: 20px;
      font-size: 2rem;
      color: var(--txt-white);
    }

    .news-preview {
      margin-bottom: 20px;
    }
  }

  &:hover {
    .img {
      transform: scale(1.2);
    }
  }
}

footer {
  margin-top: 90px;
  padding-bottom: 60px;
  background-color: var(--second-color);

  .section-content {
    .footer-description {
      margin: 30px 0;
    }

    .footer-header {
      font-size: 1.5rem;
      text-transform: uppercase;
      color: var(--txt-white);
    }

    .socials {
      display: flex;

      li~li {
        margin-left: 20px;
      }

      li {
        a {
          font-size: 1.5rem;

          &:hover {
            color: var(--txt-white);
          }
        }
      }
    }

    .footer-menu {
      li~li {
        margin-top: 20px;
      }

      li {
        a {
          font-size: 1.5rem;
          text-transform: uppercase;

          &:hover {
            color: var(--txt-white);
          }
        }
      }
    }

    .subscribe-form {
      display: flex;
      justify-content: space-around;
      align-items: center;

      input {
        border: none;
        outline: none;
        width: 60%;

        padding: 10px 20px;
        border-radius: 5px;
      }

      .btn {
        margin-top: 0;
        padding: 10px;
        font-size: 14px;
        height: inherit;

        &:hover {
          background-color: var(--txt-white);
          color: var(--main-color);
        }
      }
    }

  }

}

.btn {
  margin-top: 5px;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--second-color);
  color: var(--txt-white);
  transition: all 0.3s ease 0s;
  height: inherit;

  &:hover {
    background-color: var(--txt-white);
    color: var(--main-color);
  }
}